<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 class="text-center">TODOS FOR TODAY</h1>
<br>
<div class="text-center">
    <a th:href="'/addnewtask'" class="btn btn-warning">Add new task</a>
</div>
    <form action="#" th:action="@{/todo}" method="post">
        <input type="text" id="name" placeholder="Search" name="text" />
        <input type="submit" value="search" />
    </form>
<br>
    <div class="text-center">
        <a th:href="'/assignees'" class="btn btn-warning">List of Assignees</a>
    </div>

    <br>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:switch="${todo.isDone()}">
            <i th:case="true" class="fas fa-check"></i>
            <i th:case="false" class="fas fa-times"></i>
        </td>
        <td th:switch="${todo.isUrgent()}">
            <i th:case="true" class="fas fa-check"></i>
            <i th:case="false" class="fas fa-times"></i>
        </td>
        <td>
        <a th:href="'/' + ${todo.getId()} + '/delete'" class="btn btn-danger">Delete</a>
         </td>
        <td>
            <a th:href="'/' + ${todo.getId()} + '/edittask'" class="btn btn-primary">Edit</a>
        </td>
    </tr>
</table>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</div>
</body>
</html>